* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 100vh;
}

.video {
  height: calc(100% - 100px);
  background-color: #000000;
}

.player {
  height: 100px;
  display: flex;
  background-color: #222222;
}